.container {
  /* display: flex;
  justify-content: right; */
  width: 85%;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
}

@media (max-width: 770px) {
  .container {
    width: 100%;
    border-radius: 0.2rem;
    padding: 0.5rem;
  }
}
