.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  padding: 1rem;
  margin: 1rem auto;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: lightslategray;
  /* background-color: rgba(204, 143, 68, 0.6); */
}

.inputBar {
  /* padding-bottom: 0.5rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.dropdownContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  margin: 0 0 0 1rem;
}

@media (max-width: 500px) {
  .container {
    width: 95%;
    margin: 0.25rem;
    border-radius: 0.1rem;
    padding: 0.75rem 0.25rem 0.25rem 0.25rem;
    font-size: small;
  }

  .map {
    height: 45vh;
  }

  .inputBar {
    justify-content: center;
    margin-bottom: 0.5rem;
  }
}
