:root {
  --cases-color: rgb(47, 102, 68);
  --deaths-color: rgb(109, 47, 47);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  background-color: white;
  border-radius: 0.5rem;
  width: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 3rem;
  background-color: rgba(202, 195, 240, 0.6);
  /* color: rgb(51, 50, 50); */
  color: var(--primary-dark);

  /* margin-bottom: 1rem; */
  border: 1px whitesmoke;
}

.sample {
  /* width: 100%; */
  height: 47%;
  justify-content: flex-start;
}

.cases {
  color: var(--cases-color);
}

.deaths {
  color: var(--deaths-color);
}

.chartContainer {
  padding: 0 1rem 1rem 1rem;
  border-radius: 0.5rem;
}

.sampleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  height: 100%;
  /* padding-bottom: 1rem; */
}

.sampleContainer h1 {
  font-family: 'Times New Roman', Times, serif;
}

.sampleContainer h5 {
  margin-left: 2rem;
}

.inputBar {
  /* padding-bottom: 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* margin-bottom: 1rem; */
  text-align: center;
}

.inputBar h5 {
  /* text-transform: capitalize; */
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.6;
  margin: 0;
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 3rem;
}

.footerContent h5 {
  margin: 0.25rem;
}

@media (max-width: 500px) {
  .sample {
    width: 100%;
    /* height: 8rem; */
    justify-content: flex-start;
  }

  .container {
    width: 95%;
    margin: 0.25rem;
    border-radius: 0.1rem;
    /* padding: 0 0.25rem 0.25rem 0.25rem; */
    font-size: small;
  }

  .headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 2.5rem;
    background-color: white;
    color: rgb(51, 50, 50);
  }

  .sampleContainer {
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    font-size: 1.6em;
  }
}

@media (max-width: 900px) {
  .headerContainer {
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    margin-bottom: 0;
  }

  .sample {
    height: 48.75%;
    border-radius: 0.25rem;
  }
}
