.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: rgb(216, 222, 228);
  color: rgb(11, 6, 28); */
  color: aliceblue;
  height: 95%;
  padding: 1rem 0.5rem;
  max-width: 47rem;
  width: 100%;
}

/* CONTACT PAGE */
.mainContent {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 0.5rem;
  max-width: 60rem;
}

.formContainer {
  display: flex;
  /* height: 30vh; */
  width: 100%;
  flex-direction: column;
  margin: 1rem 0;
}

.profileContainer {
  width: 100%;
  /* height: 100%; */
  background-color: thistle;
}

/* ABOUT PAGE */

.listContainer a {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
}

.headingBox {
  padding: 3rem 10rem;
  /* background-color: rgba(80, 48, 80, 0.5); */
}

.tableContainer {
  margin-bottom: 3rem;
}

h4 {
  margin-bottom: 0;
}

h6 {
  margin: 0;
}

a:link {
  color: rgb(163, 87, 103);
}

a:visited {
  color: rgb(228, 125, 147);
}

@media (max-width: 1000px) {
  .mainContent {
    height: 100%;
    flex-direction: column;
    max-width: 47rem;
  }
}

@media (max-width: 770px) {
  .mainContent {
    /* margin: 0 12%; */
    padding: 0 6%;
  }

  .pageContainer {
    /* margin: 0 12%; */
    padding: 0 6%;
  }
}
