.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(216, 222, 228);
  color: rgb(11, 6, 28); */
  color: aliceblue;
  height: 95%;
  padding: 1rem 0.5rem;
  max-width: 47rem;
}

.formContainer {
  display: flex;
  height: 30vh;
  flex-direction: column;
}

.headingBox {
  padding: 3rem 10rem;
  /* background-color: rgba(80, 48, 80, 0.5); */
}

.tableContainer {
  margin: 1rem 0;
}

h4 {
  margin-bottom: 0;
}

h6 {
  margin: 0;
}

a:link {
  color: rgb(163, 87, 103);
}

a:visited {
  color: rgb(228, 125, 147);
}

@media (max-width: 770px) {
  .pageContainer {
    margin: 0 6%;
  }
}
