.MainHeader {
  margin: 2rem 0;
  font-size: 2.2rem;
  -webkit-text-stroke: 1px rgb(103, 103, 103);
  -webkit-text-fill-color: white;

  text-shadow: 1px 1px 1px #000, 3px 2px 1px rgb(89, 177, 228);
  -webkit-text-stroke: 1px rgb(40, 14, 82);
}

@media (min-width: 500px) {
  .MainHeader {
    font-size: 2.6rem;
  }
}

@media (min-width: 600px) {
  .MainHeader {
    font-size: 3.2rem;
  }
}

@media (min-width: 770px) {
  .MainHeader {
    text-shadow: 1px 1px 1px #000, 3px 2px 1px rgb(89, 177, 228);
    -webkit-text-stroke: 1px rgb(14, 89, 175);
    font-size: 3.5rem;
  }
}
