.MainHeader {
  margin: 1rem 0;
  font-size: 2rem;
  -webkit-text-stroke: 1px rgb(103, 103, 103);
  -webkit-text-fill-color: white;
}

@media (min-width: 500px) {
  .MainHeader {
    -webkit-text-stroke: 1px rgb(40, 14, 82);
    font-size: 2.5rem;
  }
}

@media (min-width: 700px) {
  .MainHeader {
    -webkit-text-stroke: 1px rgb(40, 14, 82);
    font-size: 3.5rem;
  }
}
