.Footer {
  font-size: larger;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  color: white;
  background-color: rgb(15, 15, 66);
}

.content-box {
  display: flex;
  flex-direction: column;
  /* margin: 2rem; */
  justify-content: center;
}
