body {
  background-color: rgb(99, 120, 139);
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 770px) {
  .container {
    /* margin: 0 10%; */
  }
}
